.main-navigation {
	display: flex;
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	padding: 0;
	// background-color: #ffffff;
	.menu-top-menu-container,
	.menu-alt-menu-container {
		width: 100%;
	}
	#logosmall {
		width: 160px;
		padding-left: 2rem;
		display: none;
	}
	ul {
		justify-content: center;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 0 1rem;
		font-size: 0.9rem;
		letter-spacing: 1px;
	}

	a {
		display: block;
		text-decoration: none;

	}


}
/* Small menu. */
#openMobileMenu {
	border: 0 none;
	width: 60px;
	height: 50px;
	background-color: transparent;
	padding: 0;
	margin-top: 1rem;
	display: block;
	.toggle-line {
			width: 30px;
			height: 2px;
			background-color: $color__text-main;
			margin: 7px auto;
	}
}

.site-header, .modal-content {
	#social {
		
		.social-icon {
			width: 16px;
			margin: 0 10px;
		}
	}
}
.site-header {
	#social {
		justify-content: flex-end;
		display: none;
		padding: 0.5rem 0.5rem 0 0;
	}
}
.modal-content {
	#social {
		justify-content: center;
		display: flex;
		margin-top: 1rem;
		align-items: flex-end;
		.social-icon {
			width: 20px;
		}
	}
}

.faqs .faq .question .plus {
	top: 0;
	right: 12px;
}

@media screen and (min-width: 37.5em) {
	.site-header {
        #social {
            display: flex;
        }
    }

	#openMobileMenu {
		display: none;
	}

	.main-navigation {
		padding-bottom: 1rem;
		#logosmall {
			display: block;
		}
		ul {
			display: flex;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
