.site-header {
    position: fixed;
    width: 100%;
    background-color: $color__background-screen;
    z-index: 1000;
    .site-branding {
        background-color: $pale-spring-bud;
        padding: 2.5rem 0 1rem 0;
        text-align: center;
        img {
            max-width: 90%;
        }
        .site-title {
            display: none;
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            a {
                text-decoration: none;
            }
        }
        .site-description {
            display: none;
            text-align: center;
            margin-top: 0;
        }
    }
    

}
