.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
	main {
		width: 100%;
		max-width: 920px;
		margin: 0 auto;
		padding: 0 2rem 100px 2rem;
	}
	footer {
		width: 100%;
		margin: 0 auto;
		background-color: #ffffff;
		.site-info {
			max-width: 680px;
			margin: 0 auto;
			padding: 1rem;
			font-size: 1rem;
			text-align: center;
			.website {
				font-size: 0.8rem;
				color: #7d8084;
				a {
					color: #7d8084;
					text-decoration: none;
				}
			}
		}
	}
}
